[Unit]
Description=Custom Gnome Session
After=graphical.target

[Service]
Type=simple
ExecStart=/bin/bash ~/config/apply.sh
Restart=on-failure
User=sunny

[Install]
WantedBy=graphical.target
